<div class="game-container win-95-border-emboss">
  <div class="game-header win-95-border">
    <div class="counter mine-counter win-95-border-small">
      <span class="counter-digit-background">888</span>
      <span class="counter-digits">010</span>
    </div>

    <div class="sun-button win-95-border-emboss">
      <img src="images/player-alive.png">
    </div>

    <div class="counter time-counter win-95-border-small">
      <span class="counter-digit-background">888</span>
      <span class="counter-digits" id="time-counter">002</span>
    </div>
  </div>

  <div class="matrix-container win-95-border">
    <div class="matrix-row">
      <div class="matrix-cell revealed-cell mine-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell mine-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell mine-cell"></div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell win-95-border-emboss"></div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell win-95-border-emboss"></div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell revealed-cell mine-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell win-95-border-emboss"></div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell mine-cell"></div>
      <div class="matrix-cell win-95-border-emboss"></div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell win-95-border-emboss flagged-cell"></div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell revealed-cell mine-cell exploded"></div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell revealed-cell mine-cell"></div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell revealed-cell mine-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-2">2</div>
      <div class="matrix-cell revealed-cell mine-cell"></div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell revealed-cell mine-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
    </div>
    <div class="matrix-row">
      <div class="matrix-cell win-95-border-emboss"></div>
      <div class="matrix-cell revealed-cell number-cell-1">1</div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
      <div class="matrix-cell revealed-cell"></div>
    </div>
  </div>
</div>
